*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse-bold';
  src: url(/fonts/Norse-Bold.otf);
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
}

.odin__logo {
  background: no-repeat url(/img/-193773222.jpg);
  /* display: block; */
  width: 33vw;
  height: 100vh;
}

.logo {
  margin-top: 200px;
  margin-bottom: calc();
  background-color: #000;
  opacity: 0.7;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#odin {
  height: 9rem;
  width: 100px;
}

#odin_text {
  color: #fff;
  font-family: Norse-bold, sans-serif;
  font-size: 100px;
}

.page {
  font-family: Norse-bold, sans-serif;
  background-color: rgba(243, 240, 240, 0.986);
}

.title {
  margin: 150px 300px 150px 70px;
}

form {
  padding-left: 50px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #0000007e;
}

.form__inputs {
  display: flex;
  font-size: 16px;
}

.form__item {
  margin-right: 60px;
}

.input__name {
  margin-bottom: 0;
}

input {
  height: 2rem;
  padding: 8px 10px 8px 10px;
}

input {
  width: 220px;
  border: 1px solid grey;
  border-radius: 4px;
}