*{
  box-sizing: border-box;
}

@font-face {
  font-family: 'Norse-bold';
  src: url(/fonts/Norse-Bold.otf);
  font-style: normal;
  font-weight: normal;
}

.container {
  display: flex;
}

.odin__logo {
  background: no-repeat url(/img/-193773222.jpg);
  /* display: block; */
  width: 33vw;
  height: 100vh;
}

.logo {
  margin-top: 200px;
  margin-bottom: calc();
  background-color: #000;
  opacity: 0.7;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#odin {
  height: 9rem;
  width: 100px;
}

#odin_text {
  color: #fff;
  font-family: Norse-bold, sans-serif;
  font-size: 100px;
}